<!DOCTYPE html>
<html lang="en">
    <!-- render the head bar -->  
<%- include('./partials/head.ejs') %>
<body>
    <% const name = 'David' %>
    <header>
        <h1>Welcome to <%= name %>'s Website </h1>
    </header>
    <!-- render the nav bar -->
    <%- include('./partials/nav.ejs') %>
    <main>
        <section id="about">
            <h2>About Us</h2>
            <p>This is a sample website to demonstrate the HTML structure.</p>
        </section>
        <section id="contact">
            <h2>Contact Information</h2>
            <p>Email: info@example.com</p>
            <p>Phone: (123) 456-7890</p>
            <!-- rendering a list of blogs -->
            <% if(blogs.length > 0){%>
                <% blogs.forEach(blog=>{ %>
                    <h1><%= blog.title %></h1>
                    <p><%= blog.snippet %></p>
                <%})%>
                <% } else {%>
                    <P>There are no blogs to display....</P>
                    <% }%>
        </section>
    </main>
    <!-- render the footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>
